<!doctype html>
<html lang="en">
{{>links}}
<link rel="stylesheet" href='/css/home.css'>
{{>header}}
{{>msgs}}
<body>
  <section style="width: 100%; height: 100%;">
    <div class="container-fluid">

      <div id="searchBox" class="card m-3">
        <form action="/search" method="post">
          <div class="card-body">
            <div class="input-group">
              <input type="text" name="searchText" required autocomplete="off" class="form-control" placeholder="Search Posts...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>
      </div>
      {{#if category}}
      <div id="categoryBox" class="card m-3">
        <h5 id="categoryHead" class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">

            {{#each category}}
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="/categories/{{id}}">{{name}}</a>
                </li>
              </ul>
            </div>
            {{/each}}

          </div>
        </div>
      </div>
      {{/if}}


      <h1 class="m-3" align="center">{{pageTitle}}</h1>
      {{#if message}}
      <h3 align="center" class="m-3">{{message}}</h3><br>

      {{else}}



      <div class="row">
        {{#each post}}
        <div class="col-md-6">
          <div id="postCard" class="card border-dark m-2">
            <div class="card-body">
              <div class="card-title ml-4" id="cardTitle">
                {{title}}
              </div>
              <center>
                {{#if file}}
                <img src="/uploads/{{file}}" id="postImage" class="rounded" alt="Image Unavailable">
                {{else}}
                <img src="/uploads/noImage.png" id="postImage" class="rounded" alt="Image Unavailable">
                {{/if}}
              </center>
              <p class="card-text">
                {{{readmore body}}}...
              </p>
              <a href="/post/{{id}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Posted on {{dateFormat date 'MMMM Do YYYY'}} by
                {{user.username}}</small>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{#if (StrEqual pageTitle "SEARCH RESULTS:")}}
      <p>
        <a href="/">BACK TO HOME</a>
      </p>
      {{/if}}
      <ul class="pagination justify-content-center m-3">
        {{#paginate current=current pages=pages}}{{/paginate}}
      </ul>

      {{/if}}

    </div>



    {{>footer}}
    {{>scripts}}
  </section>
</body>
</html>