<!doctype html>
<html lang="en">
{{>links}}


<body>
  <div id="wrap">
    {{>header}}
    {{>msgs}}
    <div class="container">
      <center>
        <h1 class="m-3" id="headings">{{post.title}}</h1>
        {{#if post.file}}
        <img src="{{post.file}}" class="rounded" alt="Image Unavailable">
        {{else}}
        <img src="/src/noImage.png" class="rounded" alt="Image Unavailable">
        {{/if}}
      </center>
      <hr>
      <div id="postData">
        <p class="somePost m-3">
          {{{post.body}}}
        </p>
        <hr>
        <p class="nonmuted m-3">
          Posted by {{post.user.username}} on {{dateFormat post.date 'MMMM Do YYYY'}}
        </p>
        {{#if post.lastEdited}}
        <p class="nonmuted m-3">
          Last Edited by {{post.lastEdited.username}}
        </p>
        {{/if}}
      </div>
      <hr>

      {{#if user}}
      {{#if post.allowComments}}
      <div id="commentBox" class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">

          <div class="form-group">
            <textarea name='body' id="comment" autocomplete="off" class="form-control" rows="3"></textarea>
            <input type="hidden" name='id' id="postId" value="{{post.id}}">
          </div>
          <button id="commentIt" class="btn btn-primary">Submit</button>

        </div>
      </div>
      {{else}}
      <h3 id="headings">Comments are Not Allowed on this Post</h3><hr>
      {{/if}}
      {{else}} <h3 id="headings">You need to <a href="/login">Log in </a>to Comment</h3><hr>
      {{/if}}
      {{#if post.comments}}
      <div id="commentBox" name="commentList" class="card mb-3" style="overflow: auto;height: 300px;">
        {{#each post.comments}}
        <div class="media m-3">
          <img class="d-flex mr-3 rounded-circle" src="/src/profile.jpg" alt="" height="40" width="40">
          <div class="media-body">
            <h5 class="mt-0">{{user.username}}</h5>
            {{body}}
          </div>
        </div>
        {{/each}}
      </div>
      {{else}}<h5 id="headings">No comments have been made yet.</h5>
      {{/if}}
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#commentIt").on('click', function () {
        $.post('/admin/comments/create',
          {
            body: $("#comment").val().toString(),
            id: $("#postId").attr("value").toString()
          }).done(function (data) {
            $("#comment").val('');
            $("[name='commentList']").append(`<div class="media m-3">
              <img class="d-flex mr-3 rounded-circle" src="/src/profile.jpg" alt="" height="40" width="40">
              <div class="media-body">
              <h5 class="mt-0">${data.user}</h5>
              ${data.savedcomm.body}
              </div>
              </div>`)
            $("[name='commentList']").animate({
              scrollTop: $("[name='commentList']").prop("scrollHeight")}, 1000);
          }).fail(function () {
            alert('Unknown Server Error!')
          })


      })
    })
  </script>
  {{>footer}}
</body>
</html>