<!doctype html>
<html lang="en">
{{>links}}
<link rel="stylesheet" href="/css/post.css">
<body>
  <section style="width: 100%; height: 100%;">
    {{>header}}
    {{>msgs}}
    <div class="container-fluid">
      <center>
        <h1 class="m-3">{{post.title}}</h1>
        {{#if post.file}}
        <img src="/uploads/{{post.file}}" class="rounded" alt="Image Unavailable">
        {{else}}
        <img src="/uploads/noImage.png" class="rounded" alt="Image Unavailable">
        {{/if}}
      </center>
      <hr>
      <p class="m-3">
        {{{post.body}}}
      </p>
      <hr>
      <p class="text-muted m-3">
        Posted by {{post.user.username}} on {{dateFormat post.date 'MMMM Do YYYY'}}
      </p>
      {{#if post.lastEdited}}
      <p class="text-muted m-3">
        Last Edited by {{post.lastEdited.username}}
      </p>
      {{/if}}
      <hr>
      {{#if user}}
      {{#if post.allowComments}}
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form action='/admin/comments/create' method='post'>
            <div class="form-group">
              <textarea name='body' class="form-control" rows="3"></textarea>
              <input type="hidden" name='id' value="{{post.id}}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      {{else}}
      <h3>Comments are Not Allowed on this Post</h3><hr>
      {{/if}}
      {{else}} <h3>You need to <a href="/login">Log in </a>to Comment</h3><hr>
      {{/if}}
      {{#if post.comments}}
      <div class="card" style="overflow: auto;height: 300px;">
        {{#each post.comments}}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="/uploads/profile.jpg" alt="" height="40" width="40">
          <div class="media-body">
            <h5 class="mt-0">{{user.username}}</h5>
            {{body}}
          </div>
        </div>
        {{/each}}
      </div>
      {{else}}<h5>No comments have been made yet.</h5>
      {{/if}}
    </div>
    {{>scripts}}
    {{>footer}}
  </section>
</body>
</html>