<html>
{{>links}}
<link rel="stylesheet" href="/css/faicons.css">
{{>adminheader}}
<h1 id="headings">MY POSTS</h1>
<body style="
  background-image: url('/src/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
  <section style="width: 100%; height: 100%;">
    {{>msgs}}
    {{#if posts}}
    <div style="overflow-x: auto; background: white; opacity: 0.95; border-radius: 5px;">
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th></th>
            <th>File</th>
            <th>Title</th>
            <th>Status</th>
            <th>Category</th>
            <th>Allow Comments</th>
            <th>Date</th>
            <th>Comments</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each posts}}
          <tr>
            <td>{{counter @index}}</td>
            <td>
              {{#if file}}
              <img height="50" width="60" class="img-responsive" src="/uploads/{{file}}" alt="">
              {{else}}
              <img height="50" width="60" class="img-responsive" src="/uploads/noImage.png" alt="No Image Available">
              {{/if}}
            </td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{category.name}}</td>
            <td>{{allowComments}}</td>
            <td>{{dateFormat date 'MMMM Do YYYY'}}</td>
            <td><a href="/admin/posts/postComment/{{id}}" id="comment" class="fa fa-comments"></a></td>
            <td><a class="fa fa-eye" id="view" href='/post/{{id}}'></a></td>
            <td> <a class="fa fa-pencil-square" id="edit" href='/admin/posts/update/{{id}}'></a></td>
            <td>
              <form action='/admin/posts/{{id}}?_method=DELETE' method='post'>
                <button type="submit" id="delete"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{else}}
    <div>
      <h5 id="headings">{{message}}</h5>
      {{>noData}}
    </div>
    {{/if}}
    {{>footer}}
    {{>scripts}}
  </section>
</body>
</html>