<html>
{{>links}}
<link rel="stylesheet" href="/css/faicons.css">
{{>admin}}

<body>
  <section style="width: 100%; height: 100%;
    background-image: url('/src/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;">
    {{>msgs}}
    {{#if users}}
    <h1 id="headings">All Users</h1>

    <div style="overflow-x: auto; background: white; opacity: 0.95;">


      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">VERIFIED</th>



          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{counter @index}}</td>
            <td>{{username}}</td>
            <td>

              {{email}}

            </td>
            <td>{{isVerified}}</td>


            <td>

              {{#if isAdmin}}

              <form action='/admin/demote/{{id}}?_method=PUT' method='post'>
                <button type='submit' class='btn btn-danger'>DEMOTE USER</button>
              </form>

              {{else}}


              <form action='/admin/promote/{{id}}?_method=PUT' method='post'>
                <button type='submit' class='btn btn-success'>MAKE ADMIN</button>
              </form>
              {{/if}}
            </td>


            <td> <form action='/admin/profile/{{id}}?_method=DELETE' method='post'>
              <button type='submit' class='btn btn-danger'>REMOVE USER</button>
            </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>




    {{else}}
    <div>
      <h5 id="headings">{{message}}</h5>
      {{>noData}}
    </div>
    {{/if}}
    {{>footer}}
    {{>scripts}}
  </section>
</body>
</html>