<html>
{{>links}}
<link rel="stylesheet" href="/css/faicons.css">


<body>
  <div id="wrap">
    {{>admin}}
    {{>msgs}}
    {{#if users}}
    <h1 id="headings">All Users</h1>

    <div style="overflow-x: auto; background: white; opacity: 0.95;">


      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">NAME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">VERIFIED</th>



          </tr>
        </thead>
        <tbody>
          {{#each users}}
          <tr>
            <td>{{counter @index}}</td>
            <td>{{username}}</td>
            <td>

              {{email}}

            </td>
            <td>{{isVerified}}</td>


            <td>

              {{#if isAdmin}}

              <button data-toggle="modal" data-target="#exampleModalUser" class="btn btn-danger" onclick="demoteUser('{{id}}')">DEMOTE USER</button>

              {{else}}


                               
                        <button data-toggle="modal" data-target="#exampleModalUser" class="btn btn-success" onclick="promoteUser('{{id}}')">MAKE ADMIN</button>
                              
                    
              {{/if}}
            </td>


                               <td>
                        <button data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" onclick="deleteUser('{{id}}')">REMOVE USER</button>
                              
                    </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>




    {{else}}
    <div>
      <h5 id="headings">{{message}}</h5>
      {{>noData}}
    </div>
    {{/if}}


  </div>
  {{>modal}}
  {{>footer}}
</body>
</html>