<html>
{{>links}}
<link rel="stylesheet" href="/css/comment.css">

{{>adminheader}}

<h1 align="center">
  {{pageTitle}}</h1>
<body style="
  background-image: url('/src/bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
  <section style="width: 100%; height: 100%;">

    {{>msgs}}
    {{#if comments}}
    <div style="overflow-x: auto; background: white; opacity: 0.95;">

      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">OWNER</th>
            <th scope="col">COMMENT</th>
            <th scope="col">DATE</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          {{#each comments}}
          <tr>
            <td>{{counter @index}}</td>
            <td>{{user.username}}</td>
            <td>
              <div id="commentBody">
                {{body}}
              </div>
            </td>
            <td>{{dateFormat date 'MMMM Do YYYY'}}</td>
            <td> <form action='/admin/comments/{{id}}?_method=DELETE' method='post'>
              <button type='submit' class='btn btn-danger'>DELETE</button>
            </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>




    {{else}}
    <div>
      <h5 align="center">{{message}}</h5>
      {{>noData}}
    </div>
    {{/if}}
    {{>footer}}
    {{>scripts}}
  </section>
</body>
</html>