<!DOCTYPE html>
<html>
{{>links}}
<link rel="stylesheet" href="/css/inputStyle.css">

<body style="
  background-image: url('../src/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
  <section style="width: 100%; height: 100%;">
    {{>header}}
    {{>msgs}}
    {{#each errors}}
    <div class="alert alert-danger">
      {{message}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {{/each}}
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
              <!-- Background image for card set in CSS! -->
            </div>

            <div class="card-body">
              <h5 class="card-title text-center">EDIT PROFILE</h5>
              <form class="form-signin" action="/admin/profile/editProfile/{{user.id}}?_method=PUT" method='post'>

                <div class="form-label-group">
                  <input type="text" autocomplete="off" id="inputUserame" class="form-control" placeholder="Username" value="{{user.username}}" name="username" required>
                  <label for="inputUserame">Username</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="inputOldPassword" class="form-control" placeholder="Password" toshow='on' name="oldpassword" required>
                  <label for="inputOldPassword">Old Password</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" toshow='on' placeholder="New Password" name="newpassword" required>
                  <label for="inputPassword">New Password</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="inputConfirmPassword" class="form-control" toshow='on' placeholder="Confirm Password" name="cnewpassword" required>
                  <label for="inputConfirmPassword">Confirm New password</label>
                </div>
                <div class="custom-control custom-switch mb-3">
                  <input type="checkbox" class="custom-control-input" picker="trigger" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1">Show Password</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Save</button>
              </form>
              {{#unless user.superUser}}
              <hr><center><b>OR</b></center>
              <form class="form-signin" action='/admin/profile/{{user.id}}?_method=DELETE' method='post'>
                <center>
                  <div class="form-label-group">
                    <input type="text" autocomplete="off" class="form-control" oninput="deleteUnlock()" placeholder="Enter Username to delete" id="userName" name="userName" hidden-data="{{user.username}}">
                    <label for="userName">Enter Username to Delete</label>
                  </div>
                  <button type='submit' id='deleteAcc' disabled class='btn btn-lg btn-block text-uppercase btn-danger'>DELETE MY ACCOUNT!</button></center>
              </form>
              {{/unless}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}

  </section>
</body>
</html>